<!DOCTYPE html><html lang="en">

    <head>
        <meta charset="UTF-8"> <title> captchat </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/uikit.css">
    </head>

    <body class="uk-height-expand uk-flex uk-flex-center uk-flex-middle 
                 uk-padding-small uk-background-primary">

        <° http://localhost:8000/captchat °>

        <style>

            img { 
                transform: scale(6) translate( calc( -3px * 42 ), calc( -2px * 45 ) );
                transform-origin: 0px 0px; image-rendering: pixelated; 
                transition: all 0.3s ease-out;
            }

            [captchat] label:has(input:checked) + label { display: flex !important; }

            input[type="text"]:focus { border-color: var(--primary); }

        </style>

    </body>

</html>